:root{
    // COLORES NORMALES
    --blanco: #FFFFFF;
    --negro: #000000;
    // COLORES LETRAS

    // LETRA PRINCIPAL
    --letra: #FFFFFF;

    // COLORES FONDOS 
    --cf-fondo: #89B8B8;
    --cf-sub-fondo: #BEDBDB;
    --cf-tono-oscuro: #1F5050;

    // Alineación del icono
    --icono-alineacion: flex-start;
    
    // INTENTO CAMBIAR COLORES 
    --highlight-color-focused: #FFFFF !important;
    --ion-color-primary: #FFFFF !important;
}
