ion-content {
  --background: var(--cf-fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 81px);
  width: 100%;
}

ion-tab-bar {
  --background: var(--cf-sub-fondo);
  --color: var(--letra);
  box-shadow: none;
  border-top: none;
}

ion-tab-button {
  color: var(--letra);
  
  ion-icon {
    color: var(--cf-fondo);
  }
}

ion-header {
  --background: var(--cf-sub-fondo);
  color: var(--letra);
}

ion-toolbar {
  --background: var(--cf-sub-fondo);
}

ion-menu-button {
  color: var(--cf-fondo);
}

.contenedor-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contenedor-icon-usuario{
  
  h1{
    font-size: 40px;
    color: var(--cf-fondo);
  }
}

.contenedor-datos-usuario{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--letra);
  h1, h2{
    font-size: 15px;
    margin: 0px;
  }
}

.contenedor-notificaciones{
  display: flex;

  h1{
    color: var(--cf-fondo);
    font-size: 30px;
  }
}

.contenedor-icon-user{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

ion-menu {
  ion-header {
    --background: var(--cf-sub-fondo);
    color: var(--letra);

    ion-toolbar {
      --background: var(--cf-sub-fondo);
      --padding-start: 0;
      --padding-end: 0;
      display: flex;
      justify-content: center;
    }

    ion-title {
      text-align: center;
      width: 100%;
      color: var(--letra);
    }
  }

  ion-content {
    --background: var(--cf-fondo);

    ion-list {
      display: flex;
      height: 530px;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--cf-fondo);
      
      ion-item {
        --background: var(--cf-fondo);
        --color: var(--letra);

        ion-icon {
          color: white;
        }

        ion-label {
          color: var(--letra);
        }
      }
    }
  }
}

.contenedor-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bolder;
    color: var(--letra);
    margin-bottom: 20px;
  }
}

.contenedor-historial-asistencia {
  background-color: var(--cf-sub-fondo);
  width: 320px;
  height: 380px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.contenedor-asistencia {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  border-bottom: 2px solid var(--blanco);

  h1 {
    color: var(--letra);
    font-size: 20px;
  }
  
  h2, h3, h4 {
    color: var(--letra);
    font-size: 15px;
    font-weight: bolder;
    margin: 4px;
  }
}
