<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="cambiarTema()">
        <ion-icon slot="start" name="moon-outline"></ion-icon>
        <ion-label>{{ tema }}</ion-label>
      </ion-item>
      <ion-item (click)="salir()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="contenedor-header">
        <div class="contenedor-icon-user">
          <div class="contenedor-icon-usuario">
            <h1><ion-icon name="person-circle-outline"></ion-icon></h1>
          </div>
          <div class="contenedor-datos-usuario">
            <h1>{{ usuarioActual.rut }}</h1> <!-- Muestra el RUT del usuario -->
            <h2>{{ usuarioActual.nombre }}</h2> <!-- Muestra el nombre del usuario -->            
          </div>
        </div>
        <div class="contenedor-notificaciones">
          <h1><ion-icon class="icono-notificacion" [name]="iconoNotificacion" (click)="manejarClickNotificaciones()"></ion-icon></h1>
        </div>   
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- CONTENIDO CENTRO -->
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-select label="Día" label-placement="fixed" (ionChange)="onDaySelect($event)">
          <ion-select-option value="Lunes">Lunes</ion-select-option>
          <ion-select-option value="Martes">Martes</ion-select-option>
          <ion-select-option value="Miercoles">Miercoles</ion-select-option>
          <ion-select-option value="Jueves">Jueves</ion-select-option>
          <ion-select-option value="Viernes">Viernes</ion-select-option>
          <ion-select-option value="Sabado">Sabado</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-select label="Clase" label-placement="fixed" (ionChange)="onClassSelect($event)" [(ngModel)]="selectedClass" [disabled]="isClassSelectDisabled">
            <ion-select-option *ngFor="let clase of availableClasses" [value]="clase">{{ clase }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-select label="Sesión" label-placement="fixed" [(ngModel)]="selectedSection" [disabled]="availableSections.length === 0">
          <ion-select-option *ngFor="let section of availableSections" [value]="section">{{ section }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="contenedor-info">
      <div class="contenedor-dato">
        <h1>Día</h1>
        <h2>{{ selectedDay }}</h2>
      </div>
      <div class="contenedor-dato">
        <h1>Clase</h1>
        <h2>{{ selectedClass }}</h2>
      </div>
      <div class="contenedor-dato">
        <h1>Sesión</h1>
        <h2>{{ selectedSection }}</h2>
      </div>
    </div>
  </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="generarCodigoQR()">
        <ion-icon name="radio-outline"></ion-icon>
        Iniciar Asistencia
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
